<%# <h1>Admin::Hotels#edit</h1> %>
<%# <p>Find me in app/views/admin/hotels/edit.html.erb</p> %>
<div class="container mt-4">
  <h1>Modifier <%= @hotel.name %></h1>

  <%= simple_form_for [:admin, @hotel], html: { multipart: true } do |f| %>
    <%= f.input :name, label: "Nom" %>
    <%= f.input :city, label: "Ville" %>
    <%= f.input :description, label: "Description" %>
    <%= f.input :price, label: "Prix/nuit (€)" %>
    <% if @hotel.photos.attached? %>
      <div class="mb-3">
        <p>Photos actuelles :</p>
        <div class="d-flex gap-2 flex-wrap">
          <% @hotel.photos.each do |photo| %>
            <%= image_tag photo, height: 150, class: "rounded" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= f.input :photos, as: :file, label: "Ajouter des photos", input_html: { multiple: true } %>
    <%= f.submit "Mettre à jour", class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Retour", admin_hotels_path, class: "btn btn-outline-secondary mt-2" %>
</div>
