<%# <h1>Admin::Hotels#new</h1> %>
<%# <p>Find me in app/views/admin/hotels/new.html.erb</p> %>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <h2 class="mb-4">Ajouter un hôtel</h2>
        <hr>
        <%= simple_form_for [:admin, @hotel], html: { multipart: true } do |f| %>
          <%= f.input :name, label: "Nom de l'hôtel" %>
          <%= f.input :city, label: "Ville" %>
          <%= f.input :description, label: "Description" %>
          <%= f.input :price, label: "Prix/nuit (€)" %>
          <%= f.input :photo, as: :file, label: "Photo de l'hôtel", input_html: { multiple: true } %>
          <%= f.submit "Créer l'hôtel", class: "btn btn-primary w-100 mt-3" %>
        <% end %>
        <%= link_to "← Retour", admin_hotels_path, class: "btn btn-outline-secondary w-100 mt-2" %>
      </div>
    </div>
  </div>
</div>
